{#include base}
  {#body}
    <div class="container">
      <h1>Welcome to Primaza</h1>
      <p class="text-body">Click on one of the button of your choice to access the Primaza services !</p>
      </p>
      <div class="container">
        <div class="row gy-5">
          <div class="col-2">
            <div class="p-4 btn btn-primary"><a id="home-claims-btn-id" href="/claims" class="text-white">Claims</a></div>
          </div>
          <div class="col-2">
            <div class="p-4 btn btn-primary" ><a id="home-services-btn-id" href="/services" class="text-white">Services</a></div>
          </div>
          <div class="col-2">
            <div class="p-4 btn btn-primary" ><a id="home-deployed-services-btn-id" href="/services/discovered" class="text-white">Deployed Services</a></div>
          </div>
          <div class="col-2">
            <div class="p-4 btn btn-primary" ><a id="home-clusters-btn-id" href="/clusters" class="text-white">Clusters</a></div>
          </div>
          <div class="col-2">
            <div class="p-4 btn btn-primary" ><a id="home-credentials-btn-id" href="/credentials" class="text-white">Credentials</a></div>
          </div>
        </div>
      </div>
    </div>
  {/body}
{/include}