{@io.halkyon.model.Service service}
<tr>
    <td>{service.name}</td>
    <td>{service.version}</td>
    <td>{service.type}</td>
    <td>{service.database}</td>
    <td>{service.endpoint}</td>
    <td>{service.available}</td>
    <td>
        <ul class="list-inline m-0">
            {#if service.credentials.size == 1}
              {#set cred=service.credentials.0}
               <li class="list-inline-item">
                    <a class="btn btn-warning btn-sm rounded-2" type="button"
                       title="Credential"
                       href="/credentials/credential/{cred.id}"
                       hx-get="/credentials/credential/{cred.id}"
                       hx-replace-url="/credentials/new"
                       hx-swap="outerHTML"
                       hx-target="#base">Credential</a>
                </li>
               {/set}
            {#else}
                <li class="list-inline-item">
                    <a class="btn btn-warning btn-sm rounded-2" type="button"
                       title="Credential"
                       href="/credentials/new"
                       hx-get="/credentials/new"
                       hx-swap="outerHTML"
                       hx-target="#base">Credential</a>
                </li>
            {/if}
            <li class="list-inline-item">
                <a class="btn btn-success btn-sm rounded-2"
                   id="btn-service-edit-{service.id}"
                   title="Edit"
                   href="/services/{service.id}">Edit</a>
            </li>
            <li class="list-inline-item">
                <button class="btn btn-danger btn-sm rounded-2" type="button" title="Delete"
                        id="btn-service-delete-{service.id}"
                        hx-delete="/services/{service.id}"
                        hx-confirm="Are you sure ?"
                        hx-target="#base"
                        hx-swap="innerHTML swap:1s">Delete</button>
            </li>
        </ul>
    </td>
</tr>
