<div class="table-responsive">
  <table class="table">
      <thead>
        <tr>
            <th aria-valuetext="left">Name</th>
            <th aria-valuetext="left">Version</th>
            <th aria-valuetext="left">URL</th>
            <th aria-valuetext="left">Namespace</th>
            <th aria-valuetext="left">Cluster</th>
        </tr>
      </thead>
      <tbody>
        {#for service in services}
        <tr>
            <td>{service.kubernetesSvcName}</td>
            <td>{service.serviceIdentity.version}</td>
            <td>
                {#if service.serviceIdentity.isStandalone()}
                   {service.serviceIdentity.externalEndpoint}
                {#else}
                   {service.serviceIdentity.protocol}://{service.serviceIdentity.name}.{service.namespace}:{service.serviceIdentity.port}
                {/if}
            </td>
            <td>{service.namespace}</td>
            <td>
                {#if service.serviceIdentity.isStandalone()}
                  Standalone
                {#else}
                  {service.clusterName}
                {/if}
            </td>
        </tr>
        {/for}
      </tbody>
  </table>
</div>
<!-- Showing the number of services. Returned by the template key: items of ServiceResource -->
<strong>{items}</strong> {#if items == 1}item{#else}items{/if}
<hr>
<a href="/" class="btn btn-info active" role="button" aria-pressed="true">Home</a>