<div class="table-responsive">
  <table class="table">
      <thead>
        <tr>
            <th aria-valuetext="left">Name</th>
            <th aria-valuetext="left">Version</th>
            <th aria-valuetext="left">URL</th>
            <th aria-valuetext="left">Namespace</th>
            <th aria-valuetext="left">Cluster</th>
        </tr>
      </thead>
      <tbody>
        {#for service in services}
        <tr>
            <td>{service.name}</td>
            <td>{service.version}</td>
            <td>
                {#if service.isStandalone()}
                {service.externalEndpoint}
                {#else}
                {service.protocol}://{service.name}.{service.namespace}:{service.port}
                {/if}
            </td>
            <td>{service.namespace}</td>
            <td>
                {#if service.isStandalone()}
                Standalone
                {#else}
                  <!-- TODO: To be checked why the service cluster name is is null -->
                  {#if service.cluster && service.cluster.name != null}
                    {service.cluster.name}
                  {#else}
                  n/a
                  {/if}
                {/if}
            </td>
        </tr>
        {/for}
      </tbody>
  </table>
</div>
<!-- Showing the number of services. Returned by the template key: items of ServiceResource -->
<strong>{items}</strong> {#if items == 1}item{#else}items{/if}
<hr>
<a href="/" class="btn btn-info active" role="button" aria-pressed="true">Home</a>