<form id="applications_list_polling" class="form-horizontal" action="/applications/filter" hx-get="/applications/filter" hx-target="#application-table" hx-swap="innerHTML"
      enable-polling="true"
      hx-trigger="every 5s [document.getElementById('applications_list_polling').hasAttribute('enable-polling')],input from:#application_search_by_name,input from:#application_search_by_namespace,input from:#application_search_by_image,input from:#application_search_by_cluster">
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
            <th aria-valuetext="left">Name</th>
            <th aria-valuetext="left">Namespace</th>
            <th aria-valuetext="left">Image</th>
            <th aria-valuetext="left">Cluster</th>
            <th aria-valuetext="left">Ingress host</th>
            <th aria-valuetext="left">Claim</th>
        </tr>
      </thead>
      <tbody id="applications-list">
        <tr>
          <td>
              <input id="application_search_by_name" class="form-control" type="search" name="name"
                     value="{#if filter.containsKey('name')}{filter.get('name')}{/if}"
                     placeholder="Search by name ...">
          </td>
          <td>
              <input id="application_search_by_namespace" class="form-control" type="search" name="namespace"
                     value="{#if filter.containsKey('namespace')}{filter.get('namespace')}{/if}"
                     placeholder="Search by namespace ...">
          </td>
          <td>
              <input id="application_search_by_image" class="form-control" type="search" name="image"
                     value="{#if filter.containsKey('image')}{filter.get('image')}{/if}"
                     placeholder="Search by image ...">
          </td>
          <td>
              <input id="application_search_by_cluster" class="form-control" type="search" name="cluster.name"
                     value="{#if filter.containsKey('cluster.name')}{filter.get('cluster.name')}{/if}"
                     placeholder="Search by cluster ...">
          </td>
          <td></td>
        </tr>
        {#for application in applications}
        <tr>
            <td>{application.name}</td>
            <td>{application.namespace}</td>
            <td>{application.image}</td>
            <td>{application.cluster.name}</td>
            <td><a href="{application.ingress}" target="_blank">{application.ingress}</a></td>
            <td>
                {#if application.claim != null}
                    <button id="btn-application-bind-{application.id}"
                            class="btn btn-secondary btn-sm rounded-2 disabled">{application.claim.status}</button>
                {#else}
                     <button hx-get="/applications/claim/{application.id}"
                             hx-target="#app_bind_modal-container"
                             hx-trigger="click"
                             onclick="stopPolling()"
                             id="btn-application-bind-{application.id}"
                             class="btn btn-success btn-sm rounded-2"
                             _="on htmx:afterOnLoad wait 10ms then add .show to #app_bind_modal then add .show to #app_bind_modal-container-backdrop">Claim</button>
                {/if}
            </td>
        </tr>
        {/for}
      </tbody>
    </table>
  </div>
  <div class="container">
    <!-- Showing the number of applications. -->
    <strong>{items}</strong> {#if items == 1}item{#else}items{/if}
  </div>
  <hr>
  <div id="app_bind_modal-container"></div>
<script>
function stopPolling() {
   document.getElementById('applications_list_polling').removeAttribute("enable-polling");
}

function closeModal() {
	var container = document.getElementById("app_bind_modal-container")
	var backdrop = document.getElementById("app_bind_modal-container-backdrop")
	var modal = document.getElementById("app_bind_modal")

	modal.classList.remove("show")
	backdrop.classList.remove("show")

	setTimeout(function() {
		container.removeChild(backdrop)
		container.removeChild(modal)

		document.getElementById('applications_list_polling').setAttribute("enable-polling", "true");
	}, 200)
}
</script>
</form>