{@java.lang.Integer items}
{#include home}
    {#title}Claim{/title}
    {#body}
        <header class="header">
            <h1>Claims</h1>
            <form action="/claims" method="POST" hx-target="#claim-list" hx-swap="beforeend">
                <input class="new-claim" name="title" placeholder="What do you want to claim?" autofocus>
            </form>
        </header>
        <div class="table-responsive">
            <table class="table" id="claim-list">
                <thead>
                  <tr>
                      <th aria-valuetext="left">Name</th>
                  </tr>
                </thead>
                <tbody>
                  {#for claim in claims}
                      <tr><td>{claim.name}</td></tr>
                  {/for}
                </tbody>
            </table>
        </div>
        <footer class="footer">
        <span>
          <!-- Showing the number of claims. Returned by the template key: items of ClaimCustomResource -->
          <strong>{items}</strong> {#if items == 1}item{#else}items{/if}
        </span>
        </footer>
    {/body}
{/include}