{@java.lang.Integer items}
{#include home}
    {#title}Claim{/title}
    {#body}
        <header class="header">
            <h1>Claims</h1>
            <form action="/claims" hx-post="/claims" hx-target="#claim-list" method="POST" hx-swap="beforeend">
                <input type="text"
                    name="name"
                    placeholder="What do you want to claim ?">
                <button type="submit">Submit</button>
            </form>
        </header>
        <div class="table-responsive">
            <table class="table">
                <thead>
                  <tr>
                      <th aria-valuetext="left">Name</th>
                      <th aria-valuetext="left">Version</th>
                  </tr>
                </thead>
                <tbody id="claim-list">
                  {#for claim in claims}
                      <!-- Include the HTML template rendering the claim item -->
                      {#include ClaimCustomResource/item.html claim=claim /}
                  {/for}
                </tbody>
            </table>
        </div>
        <footer class="footer">
        <span>
          <!-- Showing the number of claims. Returned by the template key: items of ClaimCustomResource -->
          <strong>{items}</strong> {#if items == 1}item{#else}items{/if}
        </span>
        </footer>
    {/body}
{/include}