{#include base}
  {#body}
    <div class="mt-4 p-4 text-white rounded" style="background-color:#1E88E5;">
      <h1>Welcome to Primaza</h1>
      <p class="text-break fs-6">
        To allow to bind a microservice/application with a service (Database, Broker, NoSQL, etc), different steps are needed.
        As this PoC do not yet integrate all the systems which should be part of the final architecture, we will have to create some data manually.
        The process to follow is pretty foward and can be summarized in a few steps:</br>
        - Register a service</br>
        - Wait till the service(s) will be discovered on the clusters and will become available</br>
        - Create the service's credential</br>
        - Populate a claim to request to bind a service</br>
        - Select the deployment where the secret will be injected/mounted</br>
        Enjoy !!
      </p>
    </div>
    <div class="container mt-4 p-4 ">
      <div class="row gy-5">
        <!-- Clusters -->
        <div class="col-xl-2 col-md-6 mb-4">
          <div class="card border-0 shadow" style="background-color:#8D6E63;">
            <div class="card-body text-center">
              <a id="home-clusters-btn-id" class="card-title mb-0 btn text-white" href="/clusters">Cluster(s)</a>
              <div class="card-text text-opacity-50 text-white fst-italic">that primaza will scan</div>
            </div>
          </div>
        </div>
      </div>
      <hr/>
      <div class="row gy-5">
        <!-- Register services -->
        <div class="col-xl-2 col-md-6 mb-4">
          <div class="card border-0 shadow" style="background-color:#3949AB;">
            <div class="card-body text-center">
              <a id="home-services-btn-id" class="card-title mb-0 btn text-white" href="/services">Register</a>
              <div class="card-text text-opacity-50 text-white fst-italic">the service(s) to search for</div>
            </div>
          </div>
        </div>
        <div class="col-sm-1 d-flex align-items-center justify-content-center">
           <div class="card border-0">
             <i class="bi bi-plus-lg"></i>
           </div>
        </div>
        <div class="col-xl-2 col-md-6 mb-4">
          <div class="card border-0 shadow" style="background-color:#D32F2F;">
            <div class="card-body text-center">
              <a id="home-credentials-btn-id" class="card-title mb-0 btn text-white" href="/credentials">Set their</a>
              <div class="card-text text-opacity-50 text-white fst-italic">credential</div>
            </div>
          </div>
        </div>
        <!-- Some words -->
        <div class="col-sm-1 d-flex align-items-center justify-content-center">
          <div class="card border-0">
              and
          </div>
        </div>
        <!-- Discover the services -->
        <div class="col-xl-2 col-md-6 mb-4">
          <div class="card border-0 shadow" style="background-color:#3949AB;">
            <div class="card-body text-center">
              <a id="home-available-services-btn-id" class="card-title mb-0 btn text-white" href="/services/discovered">Discover</a>
              <div class="card-text text-opacity-50 text-white fst-italic">the services available</div>
            </div>
          </div>
        </div>
      </div>
      <hr/>
      <div class="row gy-5">
        <!-- Application available on the Clusters -->
        <div class="col-xl-2 col-md-6 mb-4">
          <div class="card border-0 shadow" style="background-color:#0097A7;">
            <div class="card-body text-center">
              <a id="home-applications-btn-id" class="card-title mb-0 btn text-white" href="/applications">Application(s)</a>
              <div class="card-text text-opacity-50 text-white fst-italic">that primaza found in the clusters</div>
            </div>
          </div>
        </div>
        <!-- Arrow -->
        <div class="col-sm-1 d-flex align-items-center justify-content-center">
          <div class="card border-0 d-flex align-items-center justify-content-center">
                and
          </div>
        </div>
        <!-- Claiming -->
        <div class="col-xl-2 col-md-6 mb-4">
          <div class="card border-0 shadow" style="background-color:#0097A7;">
            <div class="card-body text-center">
              <a id="home-claims-btn-id" class="card-title mb-0 btn text-white" href="/claims">Claim</a>
              <div class="card-text text-opacity-50 text-white fst-italic">to acquire a service</div>
            </div>
          </div>
        </div>
      </div>
  {/body}
{/include}