{#include base}
  {#body}
    <div class="mt-4 p-4 text-white rounded" style="background-color:#1E88E5;">
      <h1>Welcome to Primaza</h1>
      <p class="text-break fs-6">
        To allow to bind a microservice/application with a service (Database, Broker, NoSQL, etc), different steps are needed.
        As this PoC do not yet integrate all the systems which should be part of the final architecture, we will have to create some data manually.
        The process to follow is pretty foward and can be summarized in a few steps:</br>
        - Register a service</br>
        - Wait till the service(s) will be discovered on the clusters and will become available</br>
        - Create the service's credential</br>
        - Populate a claim to request to bind a service</br>
        - Select the deployment where the secret will be injected/mounted</br>
        Enjoy !!
      </p>
    </div>
    <div class="container mt-4 p-4 ">
      <div class="row gy-5">
        <div class="col-xl-2 col-md-6 mb-4">
          <div class="card border-0 shadow" style="background-color:#00897B;">
            <div class="card-body text-center">
              <a id="home-clusters-btn-id" class="card-title mb-0 btn text-white" href="/clusters">Cluster</a>
              <div class="card-text text-opacity-50 text-white fst-italic">that primaza will scan to search for applications & services</div>
            </div>
          </div>
        </div>
      </div>
      <div class="row gy-5">
        <div class="col-xl-2 col-md-6 mb-4">
          <div class="card border-0 shadow" style="background-color:#3949AB;">
            <div class="card-body text-center">
              <a id="home-services-btn-id" class="card-title mb-0 btn text-white" href="/services">Register</a>
              <div class="card-text text-opacity-50 text-white fst-italic">the service to be discovered</div>
            </div>
          </div>
        </div>
        <div class="col-sm-1 d-flex align-items-center justify-content-center">
          <div class="card border-0">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
            </svg>
          </div>
        </div>
        <div class="col-xl-2 col-md-6 mb-4">
          <div class="card border-0 shadow" style="background-color:#3949AB;">
            <div class="card-body text-center">
              <a id="home-deployed-services-btn-id" class="card-title mb-0 btn text-white" href="/services/discovered">Discover</a>
              <div class="card-text text-opacity-50 text-white fst-italic">the services available on the clusters</div>
            </div>
          </div>
        </div>
        <div class="col-sm-1 d-flex align-items-center justify-content-center">
          <div class="card border-0">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
            </svg>
          </div>
        </div>
        <div class="col-xl-2 col-md-6 mb-4">
          <div class="card border-0 shadow" style="background-color:#3949AB;">
            <div class="card-body text-center">
              <a id="home-claims-btn-id" class="card-title mb-0 btn text-white" href="/claims">Claim</a>
              <div class="card-text text-opacity-50 text-white fst-italic">A request to bind a service</div>
            </div>
          </div>
        </div>
        <div class="col-sm-1 d-flex align-items-center justify-content-center">
          <div class="card border-0 d-flex align-items-center justify-content-center">
            <!--<i class="bi bi-arrow-right"></i>-->
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
            </svg>
          </div>
        </div>
        <div class="col-xl-2 col-md-6 mb-4">
          <div class="card border-0 shadow" style="background-color:#3949AB;">
            <div class="card-body text-center">
              <a id="home-applications-btn-id" class="card-title mb-0 btn text-white" href="/applications">Application</a>
              <div class="card-text text-opacity-50 text-white fst-italic">deployed on the clusters</div>
            </div>
          </div>
        </div>
      </div>
      <div class="row gy-5">
        <div class="col-xl-2 col-md-6 mb-4">
          <div class="card border-0 shadow" style="background-color:#D32F2F;">
            <div class="card-body text-center">
              <a id="home-credentials-btn-id" class="card-title mb-0 btn text-white" href="/credentials">Credential</a>
              <div class="card-text text-opacity-50 text-white fst-italic">to let a microservice access a service</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  {/body}
{/include}