<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{#insert title}Claims{/}</title>
    <link rel='stylesheet' href='/webjars/bootstrap/css/bootstrap.min.css'>
    <link rel='stylesheet' href='/css/primaza.css'>
    <script src="/webjars/htmx.org/dist/htmx.min.js"></script>
    <script src="/js/primaza.js"></script>
</head>
<body>
<div class="container-fluid container">
  <!-- Section tag will insert from the included template their body section -->
  <section>{#insert body}No body!{/}</section>
  </br>
  <footer>
    <hr>
    <div class="text-black">Project version : <a href="{cdi:applicationProperties.getGitHubRepo}/commit/{cdi:applicationProperties.getGitShaCommit}">{cdi:applicationProperties.getGitShaCommit}</a></div>
    <div class="text-black">The snowdrop team <img src="https://design.jboss.org/snowdrop/logo/png/snowdrop_icon_rgb_default_32px.png" alt="snowdrop-logo"></div>
  </footer>
</div>
</body>
</html>