{@java.lang.Integer items}
{#include base}
  {#title}Claim{/title}
  {#body}
     <div class="container" id="form">
       <h1>Claims</h1>
       <form class="form-horizontal" action="/claims" hx-post="/claims" hx-target="#response" method="POST" hx-swap="innerHTML">
         <div class="form-group">
            <label class="control-label col-sm-2" for="name">Claim name:</label>
            <div class="col-sm-5">
             <input class="form-control new-claim" type="text" name="name" value="{#if claim.name}{claim.name}{/if}" placeholder="What do you want to claim ?">
            </div>
         </div>
         <div class="form-group">
             <label class="control-label col-sm-2" for="description">Description:</label>
             <div class="col-sm-10">
               <input class="form-control new-claim" type="text" name="description" value="{#if claim.description}{claim.description}{/if}" placeholder="Describe me">
             </div>
         </div>
         <div class="form-group">
             <label class="control-label col-sm-2" for="owner">Owner:</label>
             <div class="col-sm-5">
              <input class="form-control new-claim" type="text" name="owner" value="{#if claim.owner}{claim.owner}{/if}" placeholder="Team/user owning the request">
             </div>
         </div>
         <div class="form-group">
             <label class="control-label col-sm-2" for="serviceRequested" >Service requested:</label>
             <div class="col-sm-5">
               <input class="form-control new-claim" type="text" value="{#if claim.serviceRequested}{claim.serviceRequested}{/if}" name="serviceRequested" placeholder="Service requested">
             </div>
         </div>
         </br>
         <div class="form-group">
           <div class="col-sm-offset-2 col-sm-10">
             <button id="claim-button" type="submit" class="btn btn-primary">Submit</button>
           </div>
         </div>
       </form>
       <div style="height: 10px;"></div>
       <hr>
       <a href="/claims" class="btn btn-info active" role="button" aria-pressed="true">Back</a>
       <div class="container">
         <div id="response"/>
       </div>
     </div>
  {/body}
{/include}