{@io.halkyon.model.Claim claim}
<script>
    htmx.on('htmx:responseError', function(evt) {
        if(evt.detail.xhr.status === 404){
            alert("Error: Claim resource dot not exist !)");
        }
    });
</script>
<tr>
    <td>{claim.name}</td>
    <td>{claim.description}</td>
    <td>{claim.owner}</td>
    <td>{claim.serviceRequested}</td>
    <td>{claim.status}</td>
    <td>{claim.created}</td>
    <td>
        <ul class="list-inline m-0">
            {#if claim.status is 'new' || claim.status is 'errors'}
            <li class="list-inline-item">
                <a class="btn btn-success btn-sm rounded-2" type="button"
                   title="Edit"
                   href="/claims/claim/{claim.id}"
                   hx-get="/claims/claim/{claim.id}"
                   hx-swap="outerHTML"
                   hx-target="#base">Edit</a>
            </li>
            {/if}
            <li class="list-inline-item">
                <button class="btn btn-danger btn-sm rounded-2" type="button" title="Delete">Delete</button>
            </li>
        </ul>
    </td>
</tr>
