{@io.halkyon.model.Claim claim}
<script>
    htmx.on('htmx:responseError', function(evt) {
        if(evt.detail.xhr.status === 404){
            alert("Error: Claim resource dot not exist !)");
        }
    });
</script>
<tr>
    <td>{claim.name}</td>
    <td>{claim.description}</td>
    <td>{claim.owner}</td>
    <td>{claim.serviceRequested}</td>
    <td>
        {claim.status}
        {#if claim.status is 'error'}
        <i class="bi bi-info-circle" title="{claim.errorMessage}"></i>
        {/if}
    </td>
    <td>{time:format(claim.created, 'dd/MM/yyyy HH:mm')}</td>
    <td>{time:format(claim.updated, 'dd/MM/yyyy HH:mm')}</td>
    <td>
        <ul class="list-inline m-0">
            {#if claim.status is 'bind'}
            <li class="list-inline-item">
                <button class="btn btn-danger btn-sm rounded-2" type="button" title="Delete"
                        id="btn-claim-delete-{claim.id}"
                        hx-delete="/claims/{claim.id}"
                        hx-confirm="Are you sure ?"
                        hx-target="#base"
                        hx-swap="innerHTML swap:1s">Delete</button>
            </li>
            {#else}
            <li class="list-inline-item">
                <a class="btn btn-success btn-sm rounded-2" type="button"
                   id="btn-claim-edit-{claim.id}"
                   title="Edit"
                   href="/claims/{claim.id}">Edit</a>
            </li>
            {/if}
        </ul>
    </td>
</tr>
