{@java.lang.Integer items}
{#include base}
  {#title}Claim{/title}
  {#body}
    <div class="container">
      <div class="btn btn-primary"><a href="/claims/new" class="text-white">New claim</a></div>
      <h3>Searching claims</h3>
	  <form class="form-horizontal" action="/claims/filter" hx-get="/claims/filter" hx-target="#claim-list" hx-swap="innerHTML">
	  	<div class="form-group">
	  		<input class="form-control new-claim" type="search" name="name" id="query" placeholder="Enter Query...">
	  	</div>
        <div class="form-group">
           <div class="col-sm-offset-2 col-sm-10">
             <button id="claim-button" type="submit" class="btn btn-primary">Search !</button>
           </div>
         </div>
	  </form>
      </div>
    <hr>
    <div class="table-responsive">
        <table class="table">
            <thead>
              <tr>
                  <th aria-valuetext="left">Name</th>
                  <th aria-valuetext="left">Description</th>
                  <th aria-valuetext="left">Owner</th>
                  <th aria-valuetext="left">Service requested</th>
                  <th aria-valuetext="left">Status</th>
                  <th aria-valuetext="left">Created</th>
              </tr>
            </thead>
            <tbody id="claim-list">
              {#for claim in claims}
                  <!-- Include the HTML template rendering the claim item -->
                  {#include claims/item.html claim=claim /}
              {/for}
            </tbody>
        </table>
    </div>
    <footer class="footer">
    <span>
      <!-- Showing the number of claims. Returned by the template key: items of ClaimResource -->
      <strong>{items}</strong> {#if items == 1}item{#else}items{/if}
    </span>
    </footer>
    <hr>
    <a href="/">Home</a>
  {/body}
{/include}