{@java.lang.Integer items}
{#include base}
  {#title}Claim{/title}
  {#body}
    <div class="container pt-4">
      <a href="/claims/new" class="btn btn-info active" role="button" aria-pressed="true">New claim</a>
	  <form class="form-horizontal" action="/claims/filter" hx-get="/claims/filter" hx-target="#claim-list" hx-swap="innerHTML">
	  	<div class="form-group pt-3">
	  	    <label class="control-label col-sm-2" for="name">Name</label>
	  		<input class="form-control" type="search" name="name" id="query" placeholder="Enter claim name ...">
	  	</div>
	  	<div class="form-group pt-3"
	  	     hx-get="/services/options"
	  	     hx-trigger="load"
	  	     hx-target="#services-to-select"
	  	     hx-swap="innerHTML">
	  	    <label class="control-label col-sm-2" for="name">Service requested</label>
	  		<select id="services-to-select" class="form-control" name="servicerequested" placeholder="Select the service"></select>
	  	</div>
        <div class="form-group pt-3">
           <div class="col-sm-offset-2 col-sm-5">
             <button id="claim-button" type="submit" class="btn btn-primary">Search claims!</button>
           </div>
         </div>
	  </form>
      </div>
    <hr>
    <div class="container table-responsive">
        <table class="table">
            <thead>
              <tr>
                  <th aria-valuetext="left">Name</th>
                  <th aria-valuetext="left">Description</th>
                  <th aria-valuetext="left">Owner</th>
                  <th aria-valuetext="left">Service requested</th>
                  <th aria-valuetext="left">Status</th>
                  <th aria-valuetext="left">Created</th>
              </tr>
            </thead>
            <tbody id="claim-list">
               <!-- Include the HTML table template to display the claims -->
               {#include claims/table.html /}
            </tbody>
        </table>
    </div>
    <footer class="footer">
    <id class="container">
      <!-- Showing the number of claims. Returned by the template key: items of ClaimResource -->
      <strong>{items}</strong> {#if items == 1}item{#else}items{/if}
    </id>
    </footer>
    <hr>
    <div class="container">
       <a href="/" class="btn btn-info active" role="button" aria-pressed="true">Home</a>
    </div>
  {/body}
{/include}