{@java.lang.Integer items}
{#include base}
  {#title}Credential{/title}
  {#body}
     <div class="container" id="form">
         {#if credential.id == null }
         <h1>New Credential</h1>
         <form class="form-horizontal" action="/credentials" hx-post="/credentials" hx-target="#response" method="POST" hx-swap="innerHTML">
         {#else}
         <h1>Update Credential</h1>
         <form class="form-horizontal" action="/credentials/{credential.id}" hx-put="/credentials/{credential.id}" hx-target="#response" method="PUT" hx-swap="innerHTML">
         {/if}
         <input type="hidden" id="credential_id" name="id" value="{#if credential.id}{credential.id}{#else}0{/if}">
         <div class="form-group">
             <label class="control-label col-sm-2" for="credential_type">Type:</label>
             <div class="col-sm-5">
                 <select id="credential_type" class="form-control new-credential" name="serviceId" required placeholder="Select the type you want to use">
                     <option value="any" selected>Any</option>
                     <option value="basic" {#if credential.type == "basic"}selected{/if}>basic</option>
                     <option value="vault" {#if credential.type == "vault"}selected{/if}>vault</option>
                 </select>
             </div>
         </div>
         <div class="form-group">
            <label class="control-label col-sm-2" for="credential_service">Service:</label>
            <div class="col-sm-5">
                <select id="credential_service" class="form-control new-credential" name="serviceId" required placeholder="Select the service for the credential">
                  {#for service in services}
                      {#if credential.service && credential.service.id == service.id}
                        <option value="{service.id}" selected>{service.name}-{service.version}</option>
                      {#else}
                        <option value="{service.id}">{service.name}-{service.version}</option>
                      {/if}
                  {/for}
                </select>
            </div>
         </div>
         <div class="form-group">
            <label class="control-label col-sm-2" for="credential_name">Name:</label>
            <div class="col-sm-5">
             <input id="credential_name" class="form-control new-credential" type="text" name="name" value="{#if credential.name}{credential.name}{/if}" placeholder="Credential name">
            </div>
         </div>
         <div class="type-basic">
         <div class="form-group">
            <label class="control-label col-sm-2" for="credential_username">Username:</label>
            <div class="col-sm-5">
             <input id="credential_username" class="form-control new-credential" type="text" name="username" value="{#if credential.username}{credential.username}{/if}" placeholder="Credential username">
            </div>
         </div>
         <div class="form-group">
            <label class="control-label col-sm-2" for="credential_password">Password:</label>
            <div class="col-sm-5">
             <input id="credential_password" class="form-control new-credential" type="password" name="password" value="{#if credential.password}{credential.password}{/if}" placeholder="Credential password">
            </div>
         </div>
         </div>
         <div class="form-group type-vault">
             <label class="control-label col-sm-2" for="credential_vault_path">Vault Kv Path:</label>
             <div class="col-sm-5">
                 <input id="credential_vault_path" class="form-control new-credential" type="text" name="vaultKvPath" value="{#if credential.vaultKvPath}{credential.vaultKvPath}{/if}" placeholder="Path within the kv secret engine where configuration secret is located">
             </div>
         </div>
         <div class="form-group table-responsive">
             <label class="control-label col-sm-2">Parameters:</label>
             <table class="table">
                 <thead>
                 <tr>
                     <th aria-valuetext="left">Name</th>
                     <th aria-valuetext="left">Value</th>
                     <th></th>
                 </tr>
                 </thead>
                 <tbody id="credential-params">
                    <tr>
                        <td>
                            <input id="new-param-name" class="form-control new-credential" name="params" type="text" placeholder="Param Name">
                        </td>
                        <td>
                            <input id="new-param-value" class="form-control new-credential" type="text" placeholder="Param Value">
                        </td>
                        <td>
                            <button id="add-param-to-credential-button" type="button" class="btn btn-secondary" onclick="addParameterRow()">Add</button>
                        </td>
                    </tr>
                    {#for param in credential.params}
                    <tr>
                        <td>{param.paramName}</td>
                        <td>{param.paramValue}</td>
                        <td>
                            <button type="button" class="btn btn-secondary" onclick="deleteParameterRow(this)">Delete</button>
                            <input type="hidden" name="params" value="{param.paramName}:{param.paramValue}">
                        </td>
                    </tr>
                    {/for}
                 </tbody>
             </table>
         </div>
         </br>
         <div class="form-group">
           <div class="col-sm-offset-2 col-sm-10">
             <button id="credential-button" type="submit" class="btn btn-primary">Submit</button>
           </div>
         </div>
       </form>
       <div style="height: 10px;"></div>
       <hr>
       <a href="/credentials" class="btn btn-info active" role="button" aria-pressed="true">Back</a>
       <div class="container">
         <div id="response"/>
       </div>
     </div>
    <script>
function addParameterRow() {
    var nameInput = document.getElementById("new-param-name");
    var valueInput = document.getElementById("new-param-value");
    var table = document.getElementById("credential-params");

    // hidden input for form
    var formInput = document.createElement("input");
    formInput.type = "hidden";
    formInput.name = "params";
    formInput.value = nameInput.value + ":" + valueInput.value;

    // delete button
    var button = document.createElement("button");
    button.setAttribute("class", "btn btn-secondary");
    button.type = "button";
    button.innerHTML = "Delete";
    button.setAttribute("onclick", "deleteParameterRow(this)");

    var newRow = table.insertRow(-1);
    var cell1 = newRow.insertCell(0);
    var cell2 = newRow.insertCell(1);
    var cell3 = newRow.insertCell(2);
    cell1.innerHTML = nameInput.value;
    cell2.innerHTML = valueInput.value;
    cell3.appendChild( button );
    cell3.appendChild( formInput );

    nameInput.value = "";
    valueInput.value = "";
}

function deleteParameterRow(row) {
    var i = row.parentNode.parentNode.rowIndex;
    document.getElementById("credential-params").deleteRow(i - 1);
}
    </script>
  {/body}
{/include}