{@io.halkyon.model.Credential credential}
<tr>
    <td>{credential.service.name}-{credential.service.version}</td>
    <td>{credential.name}</td>
    <td>{credential.username}</td>
    <td>{credential.password}</td>
    <td>{credential.vaultKvPath}</td>
    <td>
        <ul class="list-inline m-0">
            <li class="list-inline-item">
                <a class="btn btn-success btn-sm rounded-2"
                   id="btn-credential-edit-{credential.id}"
                   title="Edit"
                   href="/credentials/{credential.id}">Edit</a>
            </li>
            <li class="list-inline-item">
                <button class="btn btn-danger btn-sm rounded-2" type="button" title="Delete"
                        id="btn-credential-delete-{credential.id}"
                        hx-delete="/credentials/{credential.id}"
                        hx-confirm="Are you sure ?"
                        hx-target="#base"
                        hx-swap="innerHTML swap:1s">Delete</button>
            </li>
        </ul>
    </td>
</tr>
