<form class="form-horizontal" action="/credentials/filter" hx-get="/credentials/filter" hx-target="#credential-table" hx-swap="innerHTML"
      hx-trigger="input from:#credential_search_by_service,input from:#credential_search_by_name,input from:#credential_search_by_username,input from:#credential_search_by_password">
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
            <th aria-valuetext="left">Service</th>
            <th aria-valuetext="left">Name</th>
            <th aria-valuetext="left">Username</th>
            <th aria-valuetext="left">Password</th>
            <th aria-valuetext="left">Vault Path</th>
            <th aria-valuetext="left">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
              <input id="credential_search_by_service" class="form-control" type="search" name="service.name"
                     value="{#if filter.containsKey('service.name')}{filter.get('service.name')}{/if}"
                     placeholder="Search by service ...">
          </td>
          <td>
              <input id="credential_search_by_name" class="form-control" type="search" name="name"
                     value="{#if filter.containsKey('name')}{filter.get('name')}{/if}"
                     placeholder="Search by name ...">
          </td>
          <td>
              <input id="credential_search_by_username" class="form-control" type="search" name="username"
                     value="{#if filter.containsKey('username')}{filter.get('username')}{/if}"
                     placeholder="Search by username ...">
          </td>
          <td>
              <input id="credential_search_by_password" class="form-control" type="search" name="password"
                     value="{#if filter.containsKey('password')}{filter.get('password')}{/if}"
                     placeholder="Search by password ...">
          </td>
          <td></td>
        </tr>
        {#for credential in credentials}
          <!-- Include the HTML template rendering the credential item -->
          {#include credentials/item.html credential=credential /}
        {/for}
      </tbody>
    </table>
  </div>
  <div class="container">
    <!-- Showing the number of credentials. Returned by the template key: items of CredentialResource -->
    <strong>{items}</strong> {#if items == 1}item{#else}items{/if}
  </div>
</form>