{@java.lang.Integer items}
{#include base}
{#title}Credential{/title}
{#body}
<div class="container pt-4">
  <a href="/credentials/new" class="btn btn-info active" role="button" aria-pressed="true">New credential</a>
  <hr>
  <div class="table-responsive">
    <table class="table">
        <thead>
        <tr>
            <th aria-valuetext="left">Service</th>
            <th aria-valuetext="left">Name</th>
            <th aria-valuetext="left">Username</th>
            <th aria-valuetext="left">Password</th>
            <th aria-valuetext="left">Action</th>
        </tr>
        </thead>
        <tbody id="credential-list">
        {#for credential in credentials}
          <!-- Include the HTML template rendering the service item -->
          {#include credentials/item.html credential=credential /}
        {/for}
        </tbody>
    </table>
  </div>
  <!-- Showing the number of credentials. Returned by the template key: items of CredentialResource -->
  <strong>{items}</strong> {#if items == 1}item{#else}items{/if}
  <hr>
  <a href="/" class="btn btn-info active" role="button" aria-pressed="true">Home</a>
</div>
{/body}
{/include}