{@java.lang.Integer items}
{#include base}
  {#title}Claim{/title}
  {#body}
     <div class="container" id="form">
         {#if claim.id == null }
         <h1>New Claim</h1>
         <form class="form-horizontal" action="/claims" hx-post="/claims" hx-target="#response" method="POST" hx-swap="innerHTML">
         {#else}
         <h1>Update Claim</h1>
         <form class="form-horizontal" action="/claims/{claim.id}" hx-put="/claims/{claim.id}" hx-target="#response" method="PUT" hx-swap="innerHTML">
         {/if}
         <div class="form-group">
            <label class="control-label col-sm-2" for="name">Claim name:</label>
            <div class="col-sm-5">
             <input id="name" class="form-control new-claim" type="text" name="name" value="{#if claim.name}{claim.name}{/if}" placeholder="What do you want to claim ?">
            </div>
         </div>
         <div class="form-group">
             <label class="control-label col-sm-2" for="description">Description:</label>
             <div class="col-sm-10">
               <input id="description" class="form-control new-claim" type="text" name="description" value="{#if claim.description}{claim.description}{/if}" placeholder="Describe me">
             </div>
         </div>
         <div class="form-group">
             <label class="control-label col-sm-2" for="owner">Owner:</label>
             <div class="col-sm-5">
              <input id="owner" class="form-control new-claim" type="text" name="owner" value="{#if claim.owner}{claim.owner}{/if}" placeholder="Team/user owning the request">
             </div>
         </div>
         <div class="form-group">
             <label class="control-label col-sm-2" for="claim_service" >Find a service to claim:</label>
             <div class="col-sm-5">
                 <select id="claim_service" class="form-control new-credential" name="serviceId" placeholder="Select the service to claim">
                     <option value=""></option>
                     {#for service in services}
                     <option value="{service.id}" {#if claim.service && claim.service.id == service.id}selected{/if}>{service.name} ({service.version})</option>
                     {/for}
                 </select>
             </div>
             <label class="control-label col-sm-2" for="claim_service" >... or type a service to request:</label>
             <div class="col-sm-5">
                 <input id="claim_serviceRequested" class="form-control new-claim" type="text"
                        {#if !claim.service}value="{#if claim.serviceRequested}{claim.serviceRequested}{/if}"{/if}
                        name="serviceRequested"
                        placeholder="<service name>-<service version>">
             </div>
         </div>
         </br>
         {#if optional.containsKey('applicationId')}
         <input type="hidden" name="applicationId" value="{optional.get('applicationId')}">
         {/if}
         <div class="form-group">
           <div class="col-sm-offset-2 col-sm-10">
             <button id="claim-button" type="submit" class="btn btn-primary">Submit</button>
           </div>
         </div>
       </form>
       <div style="height: 10px;"></div>
       <hr>
       {#if optional.containsKey('applicationId')}
       <a id="back" href="/applications" class="btn btn-info active" role="button" aria-pressed="true">Back</a>
       {#else}
       <a id="back" href="/claims" class="btn btn-info active" role="button" aria-pressed="true">Back</a>
       {/if}
       <div class="container">
         <div id="response"/>
       </div>
     </div>
  {/body}
{/include}