{@java.lang.Integer items}
{#include base}
  {#title}Cluster{/title}
  {#body}
     <div class="container" id="form">
         {#if cluster.id == null }
         <h1>New Cluster</h1>
         <form class="form-horizontal" enctype="multipart/form-data" action="/clusters" hx-post="/clusters" hx-target="#response" method="POST" hx-swap="innerHTML">
         {#else}
         <h1>Update Cluster</h1>
         <form class="form-horizontal" enctype="multipart/form-data" action="/clusters/{cluster.id}" hx-put="/clusters/{cluster.id}" hx-target="#response" method="PUT" hx-swap="innerHTML">
         {/if}
         <input type="hidden" id="cluster_id" name="id" value="{#if cluster.id}{cluster.id}{#else}0{/if}">
         <div class="form-group">
            <label class="control-label col-sm-2" for="clusterName">Cluster name:</label>
            <div class="col-sm-5">
             <input id="clusterName" class="form-control new-cluster" type="text" name="name" value="{#if cluster.name}{cluster.name}{/if}" placeholder="Set the cluster name">
            </div>
         </div>
           <div class="form-group">
               <label class="control-label col-sm-6" for="clusterName">Namespaces (to be excluded when we discover services available or applications) </label>
               <div class="col-sm-5">
                   <input id="clusterNamespaces" class="form-control new-cluster" type="text" name="namespaces" value="{#if cluster.namespaces}{cluster.namespaces}{#else}default,kube-system,ingress{/if}" placeholder="List of namespaces separated with a coma to be excluded from the search">
               </div>
           </div>
         <div class="form-group">
             <label class="control-label col-sm-2" for="clusterUrl">URL:</label>
             <div class="col-sm-5">
              <input id="clusterUrl" class="form-control new-cluster" type="text" name="url" value="{#if cluster.url}{cluster.url}{/if}" placeholder="Set the cluster URL">
             </div>
         </div>
         <div class="form-group">
             <label class="control-label col-sm-2" for="clusterEnvironment" >Environment:</label>
             <div class="col-sm-5">
                 <select id="clusterEnvironment" class="form-control new-cluster" name="environment" placeholder="Set the cluster environment">
                     <option selected>DEV</option>
                     <option>TEST</option>
                     <option>PROD</option>
                 </select>
             </div>
         </div>
         <div class="form-group">
             <label class="control-label col-sm-2" for="clusterUrl">Kube Config:</label>
             <div class="col-sm-5">
                 {#if ! cluster.id}
                   <input id="clusterKubeConfig" class="form-control new-cluster" type="file" name="kubeConfig" placeholder="Set the cluster kube configuration">
                 {#else}
                   <textarea id="clusterKubeConfig" class="form-control rounded-0 new-cluster" rows="15" name="kubeConfig">{#if cluster.kubeConfig}{cluster.kubeConfig}{/if}</textarea>
                 {/if}
             </div>
         </div>
         </br>
         <div class="form-group">
           <div class="col-sm-offset-2 col-sm-10">
             <button id="cluster-button" type="submit" class="btn btn-primary">Submit</button>
           </div>
         </div>
       </form>
       <div style="height: 10px;"></div>
       <hr>
       <a href="/clusters" class="btn btn-info active" role="button" aria-pressed="true">Back</a>
       <div class="container">
         <div id="response"/>
       </div>
     </div>
  {/body}
{/include}