{@io.halkyon.model.Cluster cluster}
<tr>
    <td>{cluster.name}</td>
    <td>{cluster.environment}</td>
    <td>{cluster.namespaces}</td>
    <td>{cluster.url}</td>
    <td>
        <ul class="list-inline m-0">
            <li class="list-inline-item">
                <button class="btn btn-success btn-sm rounded-2" type="button" title="Edit">Edit</button>
            </li>
            <li class="list-inline-item">
                <button class="btn btn-danger btn-sm rounded-2" type="button" title="Delete">Delete</button>
            </li>
        </ul>
    </td>
</tr>
