{@io.halkyon.model.Cluster cluster}
<tr>
    <td>{cluster.name}</td>
    <td>{cluster.environment}</td>
    <td>{cluster.excludedNamespaces}</td>
    <td>{cluster.url}</td>
    <td>
        <ul class="list-inline m-0">
            <li class="list-inline-item">
                <a class="btn btn-success btn-sm rounded-2"
                   title="Edit"
                   id="btn-cluster-edit-{cluster.id}"
                   href="/clusters/{cluster.id}">Edit</a>
            </li>
            <li class="list-inline-item">
                <button class="btn btn-danger btn-sm rounded-2" type="button" title="Delete"
                        id="btn-cluster-delete-{cluster.id}"
                        hx-delete="/clusters/{cluster.id}"
                        hx-confirm="Are you sure ?"
                        hx-target="#base"
                        hx-swap="innerHTML swap:1s">Delete</button>
            </li>
        </ul>
    </td>
</tr>
