{@java.lang.Integer items}
{#include base}
  {#title}Clusters{/title}
  {#body}
  <div class="container pt-4">
    <a href="/clusters/new" class="btn btn-info active" role="button" aria-pressed="true">New cluster</a>
    <hr>
    <div id="cluster-table">
      <!-- Include the HTML table template to display the clusters -->
      {#include clusters/table.html /}
    </div>
    <hr>
    <a href="/" class="btn btn-info active" role="button" aria-pressed="true">Home</a>
  </div>
  {/body}
{/include}